<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Game</title>
    <!-- jqeury -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- pusher -->
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('63cda1f62b663027a43e', {
        cluster: 'us2',
        forceTLS: true
      });

      var channel = pusher.subscribe("{{ game_id }}");

      channel.bind('clock', function eventHandler (data) {
        const html = `<h4>${data.time}</li>`;
        let clock = document.querySelector("#clock");
        clock.innerHTML = html;
      });

      channel.bind('accuse', function eventHandler(data) {
        const html = data.accuser + ' has accused ' + data.accused + ' of being the spy';
        console.log(html);
        let modalbody = document.querySelector("#accused-modal-body");
        modalbody.innerHTML = html;
        $('#accused-modal').modal('show');
      });

      channel.bind('vote-result', function eventHandler(data) {
        let alert_type = '';
        if (data.message.startsWith("Vote failed")) { // assign alert different colors based on vote result
          alert_type = 'danger';
        }
        else {
          alert_type = 'success';
        }
        const html = `
          <div class="alert alert-${alert_type} alert-dismissible fade show" role="alert">
            ${data.message}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>`;
        let voteresult = document.querySelector("#vote-result"); // show the alert containing the vote result
        voteresult.innerHTML = html;
      });

      function accuseButton(accused) {
        // console.log(accused);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.responseText !== '') { // if they've already voted them (server doesn't return ''), alert them
              const html = `
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  ${xhr.responseText}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>`;
              let voteresult = document.querySelector("#vote-result");
              voteresult.innerHTML = html;
            }
          }
        }
        xhr.open('GET', "/accuse?game={{ game_id }}&accused=" + accused + "&accuser={{ user }}", true);
        xhr.send();
      }

      function accuseFor() {
        console.log("{{ user }} is for");
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/vote?game={{ game_id }}&persuasion=for", true);
        xhr.send();
      }

      function accuseAgainst() {
        console.log("{{ user }} is against");
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "/vote?game={{ game_id }}&persuasion=against", true);
        xhr.send();
      }
    </script>
  </head>
  <body>
    <div id="vote-result">
    </div>
    <div class="modal fade" id="accused-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" show="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle" id="accused-modal-title">Please Vote</h5>
          </div>
          <div class="modal-body" id="accused-modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="accuse-against" onclick="accuseAgainst()">Against</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="accuse-for" onclick="accuseFor()">For</button>
          </div>
        </div>
      </div>
    </div>
    <h1>Game: {{ game }}</h1>
    <h2>Room: {{ game_id }}</h2>
    <h3>Name: {{ user }}</h3>
    <h3>Role: {{ role }}</h3>
    {% if role != 'Spy' %}
    <h3>Location: {{ location }}</h3>
    {% endif %}
    <h5>Time: <div id="clock"></div></h5>
    {% for player in players %}
      <button type="button" class="btn btn-primary" id="accuse-button" onclick="accuseButton('{{ player }}');">Accuse {{ player }}</button>
    {% endfor %}
    <a href="/home">Quit to Home</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>