<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Game</title>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('63cda1f62b663027a43e', {
        cluster: 'us2',
        forceTLS: true
      });

      var channel = pusher.subscribe("{{ game_id }}");

      channel.bind('clock', function eventHandler (data) {
        const html = `<h4>${data.time}</li>`;
        let clock = document.querySelector("#clock");
        clock.innerHTML = html;
      });
    </script>
  </head>
  <body>
    <h1>Game: {{ game }}</h1>
    <h2>Room: {{ game_id }}</h2>
    <h3>Name: {{ user }}</h3>
    <h3>Role: {{ role }}</h3>
    {%if role!='Spy'%}
    <h3>Location: {{ location }}</h3>
    {%endif%}
    <h5>Time: <div id="clock"></div></h5>
    <a href="/home">Quit to Home</a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>