<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link  rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/master.css') }}">

    <title>Waiting Lobby</title>
    <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
    <script>
      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('63cda1f62b663027a43e', {
        cluster: 'us2',
        forceTLS: true
      });

      var channel = pusher.subscribe("{{ game_id }}");

      channel.bind('join-game', function eventHandler (data) {
        const html = `<li class="list-group-item">${data.user}</li>`;
        let list = document.querySelector("#players");
        list.innerHTML += html;
      });

      //check the html stuff here, not sure if correct
      channel.bind('leave-game', function eventHandler (data) {
        const html = `<li class="list-group-item">${data.user}</li>`;
        let list = document.querySelector("#players");
        list.innerHTML -= html;
        setTimeout(location.reload.bind(location), 1000);
      })

      channel.bind('start-game', function eventHandler (data) {
        window.location.replace("/game?game={{ game_id }}&user={{ player }}")
      });
    </script>
  </head>
  <body class="text-center default-form">
    <h1>Waiting Lobby</h1>
    <h4>Lobby Code: {{ game_id }}</h4>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Players</h3>
        <ul id="players" class="list-group list-group-flush">
          {% for player in game %}
            <li class="list-group-item">{{ player }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <form class="text-center default-form">
      <div class="form-row">
        <div class="form-group col-sm-6">
          {% if is_owner %}
            <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="/startgame?game={{ game_id }}">Start Game</a>
          {% else %}
            <button type="button" class="btn btn-lg btn-block btn-outline-secondary" disabled>Start Game</button>
          {% endif %}
        </div>
        <div class="form-group col-sm-6">
          <a class="btn btn-lg btn-block btn-outline-secondary" href="/leavegame?user={{ player }}&game={{ game_id }}" role="button">Back</a>
        </div>
      </div>

      <!-- TODO figure out how to set locations based on button clicks -->
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% if is_owner %}
        
          <label class="" s="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Spyfall Locations
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Purdue Locations
          </label>

        {% else %}
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off" disabled> Spyfall Locations
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" disabled> Purdue Locations
          </label>
        {% endif %}
      </div>

</div>
    </form>

    <!-- Optional JavaScript -->
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD_J1KaI5nIHeifTfTSbuofB_kbkGOmodA",
        authDomain: "theboileridentity-d04be.firebaseapp.com",
        databaseURL: "https://theboileridentity-d04be.firebaseio.com",
        projectId: "theboileridentity-d04be",
        storageBucket: "theboileridentity-d04be.appspot.com",
        messagingSenderId: "510342628727"
      };
      firebase.initializeApp(config);
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
