.default-form {
  width: 200%;
  max-width: 500px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.two-column {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}

.scrollable-list {
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
