.default-form {
  width: 200%;
  max-width: 500px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.two-column {
  -webkit-columns: 2; /* Chrome, Safari, Opera */
  -moz-columns: 2; /* Firefox */
  columns: 2;
}
